# fluid resolution
xRes = 48
yRes = 64
zRes = 48
vorticity = 1.5

# where should I write the snapshots for PCA?
snapshot path = ./data/snapshots.stam.64/

# what path and filename should I give the preview movie?
preview movie = ./data/smoke.stam.64.mov

# where should I put the reduced data
reduced path = ./data/reduced.stam.64/

# total number of steps to run the full-rank simulation for
#simulation snapshots = 150
simulation snapshots = 50
#simulation snapshots = 10

# total number of steps to use in PCA
#reduced snapshots = 150
reduced snapshots = 50
#reduced snapshots = 10

discard threshold = 1e-20

# boundary conditions -- 0 is Neumann, 1 is Dirichlet
front = 1
back = 1
left = 1
right = 1
top = 0
bottom = 0

###################################################
# Cubature training params 
###################################################

importance samples = 17000

candidates per iteration = 1000
max cubature error = 0.001

all cells are candidates = false
